<%- include('partials/header'); %>
    <div class="p3 mb-3">
        <form action="/logout" method="POST">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>
    </div>

<%- include('partials/footer'); %>